In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Incomes/income.csv')
print(df)

Mounted at /content/drive
        Name  Age  Income  Buy
0        Rob   27   70000  Yes
1    Michael   29   90000   No
2      Mohan   29   61000  Yes
3     Ismail   28   60000  Yes
4       Kory   42  150000   No
5     Gautam   39  155000  Yes
6      David   41  160000  Yes
7     Andrea   38  162000   No
8       Brad   36  156000  Yes
9   Angelina   35  130000   No
10    Donald   37  137000  Yes
11       Tom   26   45000   No
12    Arnold   27   48000   No
13     Jared   28   51000   No
14     Stark   29   49500  Yes
15    Ranbir   32   53000   No
16    Dipika   40   65000  Yes
17  Priyanka   43   63000   No
18      Nick   39   64000  Yes
19      Alia   43   80000   No
20       Sid   41   82000  Yes
21     Abdul   39   58000   No

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

print("Original Data:")
print(df.head())

features_to_scale = ['Age', 'Income']

scaler = StandardScaler()

scaled_features = scaler.fit_transform(df[features_to_scale])

scaled_df = pd.DataFrame(scaled_features, columns=[f"{col}_scaled" for col in features_to_scale])

df_scaled = pd.concat([df, scaled_df], axis=1)

print("\nData with Scaled Features:")
print(df_scaled.head())

Original Data:
      Name  Age  Income  Buy
0      Rob   27   70000  Yes
1  Michael   29   90000   No
2    Mohan   29   61000  Yes
3   Ismail   28   60000  Yes
4     Kory   42  150000   No

Data with Scaled Features:
      Name  Age  Income  Buy  Age_scaled  Income_scaled
0      Rob   27   70000  Yes   -1.345808      -0.480684
1  Michael   29   90000   No   -1.005489      -0.010159
2    Mohan   29   61000  Yes   -1.005489      -0.692421
3   Ismail   28   60000  Yes   -1.175648      -0.715947
4     Kory   42  150000   No    1.206586       1.401417